* {
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  background: #000000 url(../img/background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.content {
  padding-top: 100px;
  text-align: center;
  width: 1000px;
  margin: auto;
}

a {
  color: #ffffff;
}
p {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}
